* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: white;
    font-family: "Merriweather", serif;
  }
  body > header {
    background-color: black;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  body > main {
    background: white;
    padding: 0 30px 30px;
    flex-grow: 1;
  }
  body > main .page-title {
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  body > main .page-title > img {
    margin-right: 60px;
    border-radius: 100%;
    width: 150px;
  }
  body > main .content {
    display: flex;
  }
  body > main .content section {
    flex: 1;
  }
  body > main .content aside {
    min-width: 250px;
  }
  
  button {
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table thead tr {
    border-bottom: 3px solid #eee;
  }
  table thead tr th {
    text-align: left;
    padding-bottom: 16px;
    text-transform: uppercase;
    color: #aaa;
  }
  table tbody tr {
    border-bottom: 3px solid #eee;
  }
  table tbody tr :last-child {
    border: 0;
  }
  table tbody tr td {
    padding: 50px 0;
  }
  
  .product {
    display: flex;
    align-items: center;
  }
  .product img {
    border-radius: 6px;
    width: 100px;
    height: 120px;
  }
  .product .info {
    margin-left: 20px;
  }
  .product .info .name {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .product .info .category {
    color: #666;
  }
  
  .qty {
    background-color: #eee;
    display: inline-flex;
    justify-content: space-around;
    min-width: 60px;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
  }
  .qty span {
    margin: 0 10px;
  }
  .qty button {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 20px;
    height: 100%;
  }
  .qty button:hover {
    background-color: #ccc;
  }
  
  .remove {
    background: #eee;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .remove:hover {
    background-color: #ccc;
  }
  
  aside {
    margin-left: 30px;
  }
  aside .box {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background: #eee;
    color: #222;
  }
  aside .box header {
    padding: 15px 20px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
  }
  aside .box .info {
    padding: 20px;
    font-size: 12px;
  }
  aside .box .info > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
  }
  aside .box .info > div:last-child {
    margin: 0;
  }
  aside .box footer {
    padding: 20px;
    background: #ddd;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }
  aside > button {
    border: 0;
    padding: 15px 0;
    color: white;
    background: #28a745;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
  }
  aside > button::after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    width: 300%;
    height: 300%;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: transform 2s ease;
  }
  aside > button:hover::after {
    transform: translate(-50%, -50%) scale(1);
  }
  
  /* Animação */
  /* Animação de entrada com deslizamento */
  @keyframes slideInHeader {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes slideInMain {
    from {
      transform: translateY(-50%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes slideInAside {
    from {
      transform: translatex(100%);
    }
    to {
      transform: translatex(0);
    }
  }
  
  /* Aplicar animação aos elementos que deseja animar */
  body > header {
    animation: slideInHeader 1s ease-in-out;
  }
  
  body > main {
    animation: slideInMain 1.5s ease-in-out;
  }
  
  body > main .content aside {
    animation: slideInAside 2s ease-in-out;
  }
  
  
  /* Estilos responsivos */
  @media only screen and (max-width: 768px) {
    body > main .page-title {
        font-size: 18px;
        padding: 10px 0;
    }
    body > main .page-title > img {
        width: 60px; 
        margin: 12px 0;
    }
    thead{
      display: none;
    }
    .product img {
        width: 50px;
        height: 60px;
    }
    .product .info {
        margin-left: 10px; 
    }
    .product .info .name {
        font-size: 11px; 
        margin-bottom: 5px; 
    }
    .product .info .category {
        font-size: 12px; 
    }
    table tbody tr td {
        padding: 8px 8px;
        font-size: 11px;
    }
    aside .box header {
        padding: 6px 12px;
        font-size: 14px; 
    }
    aside .box .info {
        padding: 10px; 
        font-size: 12px;
    }
    aside .box footer {
        padding: 10px; 
        font-size: 14px; 
    }
    aside > button {
        padding: 6px 0;
        font-size: 14px;
    }
    .modal-content {
        margin: 5% auto;
        padding: 12px;
        max-width: 240px;
    }
    #cardForm input[type="text"],
    #cardForm input[type="number"],
    #cardForm select {
        padding: 6px; 
        margin-bottom: 8px; 
        font-size: 12px; 
    }
    #cardForm select {
        background-size: 12px; 
    }
  }
  
  /* Estilos para tablets e dispositivos menores */
  @media only screen and (max-width: 600px) {
    body > main{
      padding: 0 15px 5px;
    }
    body > main .content {
        flex-direction: column;
    }
    body > main .content aside {
        margin-left: 0;
        margin-top: 10px; 
        min-width: auto;
    }
    .qty button {
        padding: 0 2px;
    }
  }
  
  
  
  /*# sourceMappingURL=styles.css.map */