body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0a3c79;
    border-radius: 0px 18px 18px 0px;
    position: sticky;
    top: 0;
    z-index: 2;
    min-width: 70px;
    transition: all .5s;
    height: 100vh;
    overflow: hidden; /* Impede que o conteúdo transborde */
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    padding-left:0px;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #4b98d1;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #052659;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #c1e8ff;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

/* Estilos para o botão de abertura */
#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: transparent; 
    color: #09090a;
    border-radius: 100%;
    width: 30px; 
    height: 30px; 
    border: none;
    cursor: pointer;
    z-index: 3; 
    transition: all 0.3s ease; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#open_btn:hover {
    background-color: #c1e8ff73; 
}

.open-sidebar #open_btn {
    background-color: #c1e8ff85; 
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
    color: #c1e8ff;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

@keyframes slideInSidebar {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Aplicar animação à sidebar */
#sidebar {
    animation: slideInSidebar 1s ease-in-out;
}

@media only screen and (max-width: 949px) {
    body {
        overflow-x: hidden; /* Impede rolagem horizontal */
    }

    #sidebar {
        width: 100px;
        height: 100vh; /* Ajuste para preencher toda a altura da tela */
        overflow-y: auto; /* Adiciona rolagem vertical quando necessário */
    }
    #side_items {
        display: flex;
        flex-direction: column;
        gap: 8px;
        list-style: none;
        padding-left: 12px;
    }
}