body {
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Adicionando margem automática para centralizar */
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Alterado para 50% para tornar a logo um círculo */
    margin: 0 auto; /* Centraliza horizontalmente */
    display: block; /* Para centralizar */
}

h1 {
    text-align: center;
    margin-bottom: 2rem; /* Reduzindo a margem inferior */
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

table {
    width: 100%; /* Define largura total da tabela */
    max-width: 100%; /* Adiciona largura máxima para a tabela */
    border-collapse: collapse;
    overflow-x: auto; /* Adiciona rolagem horizontal quando necessário */
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #7084ef9c;
}

/* Estilos para tornar a página responsiva */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px; /* Reduz padding para telas menores */
    }
    
    input[type="text"],
    select,
    button {
        width: 100%; /* Define largura total para elementos de entrada e botões */
    }
}